<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> usser</div>

</body>
<script>
    var users = '<%- JSON.stringify(users) %>';
    console.log(JSON.parse(users));


</script>
</html>